.spinner {
  display: inline-block;
  position: relative;
}

.spinner-circle {
  border: 3px solid var(--border-color);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-sm .spinner-circle {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
}

.spinner-md .spinner-circle {
  width: 2rem;
  height: 2rem;
  border-width: 3px;
}

.spinner-lg .spinner-circle {
  width: 3rem;
  height: 3rem;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

